# Database configuration
POSTGRES_USER=leouser
POSTGRES_PASSWORD=leopass
POSTGRES_DB=leodb
DATABASE_URL=postgresql+asyncpg://leouser:leopass@postgres:5432/leodb

# App configuration
MODE=debug
SECRET_KEY=your_super_secret_key_for_university_project
DEBUG=True