# Database configuration
POSTGRES_USER=leouser
POSTGRES_PASSWORD=leopass
POSTGRES_DB=leodb
DATABASE_URL=postgresql+asyncpg://leouser:leopass@postgres:5432/leodb

# App configuration
MODE=debug
SECRET_KEY=your_super_secret_key_for_university_project
DEBUG=True


# Firebase configuration
FIREBASE_TYPE=
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_AUTH_URI=
FIREBASE_TOKEN_URI=
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=
FIREBASE_CLIENT_X509_CERT_URL=
FIREBASE_UNIVERSE_DOMAIN=
